commands:
  00_create_dir:
    command: sudo mkdir -p /var/log/app-logs
  01_change_permissions:
    command: sudo chmod g+s /var/log/app-logs
  02_change_default_owner:
    command: sudo setfacl -d -m g::rw /var/log/app-logs
  03_change_owner:
    command: sudo chown webapp:webapp /var/log/app-logs