{% extends "base.html" %}
{% load bootstrap4 %}
{% load socialaccount %}
{% block content %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=http://localhost:8000">
{% else %}
<div class="container">
  <div class="jumbotron" style="text-align: center;">
      <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form layout='inline' %}
      <div class="g-recaptcha" data-sitekey="6LdVi6UZAAAAAIceAlCEHnKTlgL2ngLi6iDCR5VI"></div>
      <br/>
      <input class="btn btn-success" type="submit" value="Giriş">
      <button class="btn btn-primary ml-2"><a style="color:white" href="{% url 'accounts:signup' %}">Üye Ol</a></button>
    </form>
    <br>
    <a id="github" href="/accounts/github/login" class="btn btn-outline-info">Github</a>
    <a id="twitter_login" href="/accounts/twitter/login" class="btn btn-outline-primary">Twitter</a>
    <a id="google_login" href="/accounts/google/login" class="btn btn-outline-danger">Google</a>
    <div class="mt-2">
      <small class="text-muted mt-auto">
        <a href="{% url 'accounts:password_reset' %}">Şifremi Unuttum</a>
      </small>
    </div>
  </div>
</div>
{% endif %}

<style>
.jumbotron form {
  margin: 0 auto;
  max-width: 60%;
}
</style>
{% endblock content %}