{% extends "base.html" %}
{% load bootstrap4 %}
{% block head %}
  <title>Şifre Sıfırlama Onay - yaziyo.co</title>
  <meta name="title" content="Şifre Sıfırlama Onay">
  <meta name="description" content="Şifre Sıfırlama Onay">
{% endblock head %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="text-align: center;">
    <h1>Şifre Sıfırlama</h1>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form_errors form layout='inline' %}
      {% bootstrap_form form layout='inline' %}
      <input type="submit" class="btn btn-success" value="Şifreyi Yenile">
    </form>
  </div>
</div>
{% endblock content %}