{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load readtime %}
{% block head %}
  <title>@{{user.username}} Profil - yaziyo.co</title>
  <meta name="title" content="@{{user.username}} Profil">
  <meta name="description" content="Profil Sayfası">
{% endblock head %}
{% block content %}
{% load thumbnail %}
<div class="top-images">
  <img id="cover-img" src="{% thumbnail user.profile.cover 1920x250 crop %}" name="aboutme">
  <img id="account-img" src="{% thumbnail user.profile.avatar 175x200 crop %}" name="aboutme">
</div>
<div class="container-fluid col-xl-6 col-lg-10 col-md-10">


  <div class="span3 well new">
    <div class="username">
      <h2>{{user.profile}}</h2>
    </div>
    <div class="takip">
      <span><strong>{{user.profile.followers.all.count}}</strong>&nbsp; Takipçi &nbsp;</span><span class="dot"></span><span>&nbsp;&nbsp;<strong>{{user.is_following.all.count}}</strong>&nbsp; Takip</span>
    </div>
    <div class="form-div">
      {% if user.is_authenticated %}
      <form class="follow-form" action="{% url 'accounts:follow' user.username %}" method="POST" style="margin: 1.2em 0;">
        {% csrf_token %}
        {% if user != request.user %}
        {% if request.user in user.profile.followers.all %}
        <input type="hidden" name="username" value="{{user.username}}">
        <button class="btn btn-outline-danger">Takibi Bırak</button>
        {% else %}
        <input type="hidden" name="username" value="{{user.username}}">
        <button class="btn btn-primary">Takip Et</button>
        {% endif %}
        {% endif %}
      </form>
      {% endif %}
      {% if user == request.user %}
      <a href="{% url 'accounts:bookmarks' username=request.user.username %}">bookmarks</a>
      {% endif %}
      {% if user in request.user.profile.followers.all %}
      <p>Seni takip ediyor</p>
      {% endif %}
      <div class="bio">
        <p><i>{{user.profile.bio}}</i></p>
      </div>
    </div>
  </div>





  <!--<div class="span3 well jumbotron">
    <div class="username">
      <p>{{ user.profile }}</p>
    </div>
    <div class="takip">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Takipçi <strong>{{user.profile.followers.all.count}}</strong> &nbsp;</span><span>&nbsp; Takip Edilen <strong>{{user.is_following.all.count}}</strong></span>
    </div>
    <div class="form-div">
      {% if user.is_authenticated %}
      <form class="follow-form" action="{% url 'accounts:follow' user.username %}" method="POST">
        {% csrf_token %}
        {% if user != request.user %}
        {% if request.user in user.profile.followers.all %}
        <input type="hidden" name="username" value="{{user.username}}">
        <button class="btn btn-outline-danger btn-sm">Takibi Bırak</button>
        {% else %}
        <input type="hidden" name="username" value="{{user.username}}">
        <button class="btn btn-primary btn-sm">Takip Et</button>
        {% endif %}
        {% endif %}
      </form>
      {% endif %}
      {% if user == request.user %}
      <a href="{% url 'accounts:bookmarks' username=request.user.username %}">bookmarks</a>
      {% endif %}
      {% if user in request.user.profile.followers.all %}
      <p>Seni takip ediyor</p>
      {% endif %}
      <div class="bio">
        <p>{{ user.profile.bio }}</p>
      </div>
    </div>
  </div>-->
</div>
<div class="container articles-profile">
  {% for article in articles %}
  <div class="profile-article-box col-md-8 col-sm-12 flex-lg-row jumbotron">
    <div class="profile-article-image">
      <a href="{{article.get_absolute_url}}"><img src="{% thumbnail article.image 750x420 crop %}" alt=""></a>
    </div>
    <div class="media-body">
      <div class="media-heading">
        <div class="row col-md-12 profile-article-title">
          <a href="{{article.get_absolute_url}}">
            <pre><h1>{{ article.title }}</h1></pre></a>
        </div>
        <div class="row col-md-12 mt-3 profile-article-message">
          <a href="{{article.get_absolute_url}}">
            <pre>{{ article.message|truncatewords:50|safe}}</pre></a>
        </div>
        <div class="row col-md-12 mt-3 profile-article-tags">
          {% for tag in article.tags.all %}
          <a class="mr-1 badge badge-info" href="{% url 'articles:tags' tag=tag.slug %}">#{{ tag.name|cut:'#' }}</a>
          {% endfor %}
        </div>
        <div class="row col-md-12 mt-3 profile-article-info">
          {% if request.user in article.likes.all %}
          <button type="button" class="btn btn-outline-danger" disabled="disabled"><i class="fa fa-heart"></i> <strong>{{article.likes.count}}</strong></button>
          {% else %}
          <button type="button" class="btn btn-outline-danger" disabled="disabled"><i class="far fa-heart"></i> <strong>{{article.likes.count}}</strong></button>
          {% endif %}
          <button type="button" class="btn btn-outline-success ml-2" disabled="disabled"><i class="far fa-comment"></i></i> <strong>{{article.comments.count}}</strong></button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<style>
@media only screen and (max-width: 320px){
  #cover-img {
    top: 90px !important;;
  }

  #account-img {
    top: 13rem !important;
    width: 105px !important;
    height: 120px !important;
    top: 14.2rem !important;
    left: calc(50% - 52px) !important;
  }

  .span3 {
    margin-top: 18rem !important;
  }

  .profile-article-title * {
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
  }

  .profile-article-message * {
    font-size: 0.95em !important;
  }

  .profile-article-tags a {
    font-size: 0.8em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
  }

  .articles-profile {
    margin-top: 3em !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
  #cover-img {
    top: 91px !important;
  }

  #account-img {
    width: 105px !important;
    height: 120px !important;
    top: 14.6rem !important;
    left: calc(50% - 52px) !important;
  }

  .span3 {
    margin-top: 18rem !important;
  }

  .profile-article-title * {
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
  }

  .profile-article-message * {
    font-size: 0.95em !important;
  }

  .profile-article-tags a {
    font-size: 0.8em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
  }

  .articles-profile {
    margin-top: 3em !important;
  }
}

@media only screen and  (min-width: 376px) and (max-width: 425px) {
  #cover-img {
    top: 90px !important;
  }

  #account-img {
    top: 13.7rem !important;
  }

  #account-img {
    width: 105px !important;
    height: 120px !important;
    top: 14.8rem !important;
    left: calc(50% - 52px) !important;
  }

  .span3 {
    margin-top: 18rem !important;
  }

  .profile-article-title * {
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
  }

  .profile-article-message * {
    font-size: 0.95em !important;
  }

  .profile-article-tags a {
    font-size: 0.8em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
  }

  .articles-profile {
    margin-top: 3em !important;
  }
}

@media only screen and  (min-width: 426px) and (max-width: 768px) {
  #cover-img {
    top: 101px !important;
  }

  #account-img {
    top: 15.1rem !important;
  }

  .span3 {
    margin-top: 21rem !important;
  }

  .profile-article-title * {
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
  }

  .profile-article-message * {
    font-size: 0.95em !important;
  }

  .profile-article-tags a {
    font-size: 0.8em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
  }

  .articles-profile {
    margin-top: 3em !important;
  }
}

@media only screen and  (min-width: 769px) and (max-width: 1024px) {
  #account-img {
    top: 15.4rem !important;
  }
}

@media only screen and  (min-width: 1025px) and (max-width: 1440px) {
  #account-img {
    top: 15.7rem !important;
  }
}

/* @media only screen and (max-width: 768px) {
  #account-img {
    width: 105px !important;
    height: 120px !important;
    top: 14.8rem !important;
    left: calc(50% - 52px) !important;
  }

  .span3 {
    margin-top: 18rem !important;
  }

  .profile-article-title * {
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
  }

  .profile-article-message * {
    font-size: 0.95em !important;
  }

  .profile-article-tags a {
    font-size: 0.8em !important;
    margin-bottom: 0.3em !important;
    margin-top: 0 !important;
  }

  .articles-profile {
    margin-top: 3em !important;
  }
} */

#cover-img {
  width: 100%;
  height: 200px;
  display: block;
  position: absolute;
  object-fit: cover;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  -o-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  -moz-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  -ms-clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
}

#account-img {
  width: 140px;
  height: 160px;
  top: 15.9rem;
  object-fit: cover;
  left: calc(50% - 70px);
  display: inline-block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  o-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -moz-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -ms-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.profile-article-box {
  margin: 2em auto;
}

.profile-article-message * {
  line-height: 1.4;
  white-space: normal;
}

.profile-article-title * {
  font-family: 'Roboto-Slab-500';
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0.5em;
}

.articles-profile {
  margin-top: 4em;
}

.profile-article-image {
  text-align: center;
}

.profile-article-image a img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.span3.jumbotron {
  padding: 1em;
  text-align: center;
  text-align: -webkit-center;
  width: 60%;
  min-width: 18rem;
  margin-inline: auto;
  margin: 20.5rem auto 0;
  background-color: #dddddd;
}

.span3.new {
  padding: 1em;
  text-align: center;
  text-align: -webkit-center;
  width: 60%;
  min-width: 18rem;
  margin-inline: auto;
  margin: 19.6rem auto 0;
  /* background-color: #dddddd; */
}

.username h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.7em;
}

.bio {
  margin: 0.7em 0;
}

.bio p {
  color: #333333;
}

.takip {
  margin-bottom: 0.7em;
}

.dot {
  height: 7px;
  width: 7px;
  background-color: darkgray;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  vertical-align: sub;
}

/* .takip span:first-child {
  border-right: 2px solid #999999;
} */

.btn.btn-primary.btn {
  background-color: #2cc4bb;
  border-color: #2cc4bb;
}

.btn.btn-primary.btn:hover {
  background-color: #3b9991;
}

.col-12.jumbotron {
  padding: 2em !important;
}

pre {
  white-space: pre-wrap;
  overflow: visible;
}

.profile-article-tags a {
  font-size: 0.9em;
  margin-top: 1em;
}

.profile-article-message img,
.profile-article-message figcaption {
  display: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}
</style>
{% endblock content %}