{% extends "articles/article_base.html" %}
{% load social_share %}
{% load el_pagination_tags %}
{% load readtime %}
{% block content %}
<div class="container result-tag mt-5" style="text-align: center; font-size: 2em;">
  <h1><strong>#{{tag|cut:'#'}}</strong><span style="color:dimgray;"> için bulunan </span><strong>{{tags_list.count}}</strong><span style="color:dimgray;"> yazı</span></h1>
</div>
<div class="container articles-tags">
{% for article in tags_list %}
<div class="articles-container col-12">
  <div class="article-box">
    <div class="bottom-article-image">
      <a href="{{article.get_absolute_url}}"><img src="{{article.image.url}}" alt=""></a>
    </div>
    <div class="article-info">
      <div class="title">
        <a href="{{article.get_absolute_url}}">
          <h1>{{article.title|truncatechars:80}}</h1>
        </a>
      </div>
      <div class="message">
        {% if article.title|length >= 28 %}
        <a href="{{article.get_absolute_url}}">{{article.message|safe|truncatechars:75}}</a>
        {% else %}
        <a href="{{article.get_absolute_url}}">{{article.message|safe|truncatechars:120}}</a>
        {% endif %}
        <div class="tags">
        {% for tag in article.tags.all %}
        <a class="badge badge-info" id="article-tags" href="{% url 'articles:tags' tag=tag.slug %}">#{{ tag.name|cut:'#' }}</a>
        {% endfor %}
        </div>
      </div>
      <div class="user-and-date">
        <div class="user-image">
          <a href="accounts/{{article.user.username}}"><img class="rounded-circle" src="{{article.user.profile.avatar.url}}" alt="" height="25px" width="25px">{{article.user.username}}</a>
        </div>
        <div class="date">
          <p>{{article.created_date|date:"d-M-Y" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
<style>
@media only screen and (max-width: 768px) {
  .articles-container {
    padding-right: 0;
    padding-left: 0;
  }

  .articles-container:first-child {
    margin-top: 2em !important;
  }

  .article-box {
    min-width: 100%;
    max-height: 120px !important;
    width: auto;
  }

  .title * {
    font-size: 0.9rem !important;
  }

  .message a {
    display: none;
  }

  .user-and-date * {
    font-size: 0.5rem !important;
  }

  #article-tags {
    display: none !important;
  }
}

.endless_more {
  display: none;
}

.articles-bottom-col em {
  font-style: normal;
}

hr {
  display: none;
}

.article_tags {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#article-tags {
  font-size: 70%;
  color: white;
  display: inline-block;
  margin-right: 0.1em;
}

#article-tags:hover {
  background-color: #2cc4bb;
}

.article-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  max-height: 160px;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  width: 40rem;
}

.articles-container:first-child {
  margin-top: 2.5em;
}

.bottom-article-image {
  background-color: #2A265F;
  color: #fff;
  width: 100%;
  max-width: 14rem;
}

.bottom-article-image a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.bottom-article-image img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  max-width: 500px;
}

.article-info {
  padding: 0.2em 0.2em 0.5em 0.4em;
  position: relative;
  width: 100%;
}

.article-info .title {
  padding: 0.5em 0 0.2em 0.5em;
}

.article-info .title a h1 {
  font-size: 1.2rem;
  font-family: 'Roboto-Slab-500';
  color: #000000;
  text-transform: capitalize;
}

.article-info .title a h1:hover {
  color: gray;
}

.article-info .message * {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: normal !important;
  line-height: auto !important;
  text-decoration: none !important;
  color: #1f1f1f;
}

.article-info .message {
  margin: auto;
  padding: 0 1em 0 0.5em;
  height: 60%;
}

.article-info .message img {
  display: none;
}

.article-info .date {
  margin-top: 4px;
  margin-left: auto;
  margin-right: 1em;
}

.article-info .date p {
  font-size: 14px;
  color: gray;
}

.article-info .date p:hover {
  cursor: default;
}


.article-info .user-image img {
  display: inline-block;
}

.article-info .user-and-date {
  margin: 5px 0 0px 0;
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 0.9em;
  width: 100%;
  padding-right: 1.8%;
}

.article-info .user-and-date img {
  margin-right: 0.2rem;
  margin-bottom: 0.25rem;
}

.article-info .user-and-date a {
  color: black;
  color: #1f1f1f;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.article-info .user-and-date a:hover {
  text-decoration: none;
  color: #2cc4bb;
}

.article-info .user-and-date .date p {
  margin: inherit;
  align-items: end;
}
</style>
{% endblock content %}